
<html lang = "en">
<head>
    <link rel = "stylesheet" href = ../style.css>
    <script src = "../script.js" defer></script>
    <title> Freight and Packagin (SCB) </title>
</head>
<body>
  <header>
    <nav class="navbar">

    <h1 class="logo">PACK & SEND UNLEY</h1>

    <ul class="nav-links">
        <li><a href="index.html">Calculation</a></li>
        <li><a href="Aboutus.html">About Us</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="Saveddata.php">Your Enquiries</a></li>
    </ul>

</nav>
  </header>
    
    <main>
     <div class="about-container">
        <div class="about-image">
            <img src="../resources/aboutus.jpg" alt="pack and send team">
        </div>
        <div class="about-text">
            <h1> About Freight and packaging</h1>
            <p> Here at Pack & Send Unley, we do our best to ensure a smooth
                process for taking your parcel from Australia to Iran.</p>
        </div>
     </div>
         
    </main>
    
</body>
</html>
<footer>

</footer>
