
<html lang = "en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packagin (SCB) </title>
</head>
<body>
  <header>
    <nav class="navbar">

    <h1 class="logo">Freight and packaging</h1>

    <ul class="nav-links">
        
         <li><a href="{{ url_for('home') }}">Calculation</a></li>
         <li><a href="{{ url_for('about') }}">About Us</a></li>
         <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
         <li><a href="{{ url_for('enquiries') }}">Your Enquiries</a></li>
         <li><a href="{{ url_for('info') }}">Price info</a></li>
    </ul>

</nav>
  </header>
    
    <main>
     <div class="about-container">
        <div class="about-image">
            <img src="{{ url_for('static', filename='aboutus.jpg') }}">
        </div>
        <div class="about-text">
            <h1> About Freight and packaging</h1>
            <p> About Us

                Southern Cross Beam Pty Ltd T/A PACK & SEND Unley is a trusted packing, freight and logistics company based in Adelaide, South Australia.

                As an independently owned and operated PACK & SEND Service Centre, we provide professional packing, domestic and international freight, and customised logistics solutions for individuals, businesses, e-commerce retailers, galleries, schools and corporate clients.

                Whether you are shipping a single parcel, valuable artwork, personal effects, commercial goods or large freight consignments, our experienced team delivers reliable, secure and cost-effective solutions tailored to your needs.

                As an IATA Cargo Agent, we have access to an extensive global network of airlines and logistics partners, enabling us to offer air freight, sea freight, road transport, door-to-door delivery, airport-to-airport services, customs assistance and shipment insurance.

                Our commitment to exceptional customer service has been recognised across the PACK & SEND network, including being awarded Best Customer Service across all PACK & SEND Service Centres in 2024 and ranking among the Top Three Stores in 2025.

                At Southern Cross Beam Pty Ltd T/A PACK & SEND Unley, we believe every shipment deserves the highest level of care. From expert packing to final delivery, our team is committed to making every shipment simple, secure and stress-free.</p>
        </div>
     </div>
         
    </main>
<footer class="footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/freightpackaging/" target="_blank">
            <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram-link">
        </a>

        <a href="https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" target="_blank">
            <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook-link">
        </a>
    </div>

    <p>© 2026 SCB Pty Ltd.</p>
</footer>
</body>
</html>
<footer>

</footer>
