
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packaging (SCB) </title>
</head>
<body>
  <header>
  
    <nav class="navbar">

    <h1 class="logo">Freight and packaging</h1>

    <ul class="nav-links">
       <li><a href="{{ url_for('home') }}">Calculation</a></li>
       <li><a href="{{ url_for('about') }}">About Us</a></li>
       <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
       <li><a href="{{ url_for('enquiries') }}">Your Enquiries</a></li>
       <li><a href="{{ url_for('info') }}">Price info</a></li>
       <li><a href="{{ url_for('admin_login') }}">Admin portal</a></li>
   </ul>

   </nav>
</header>



{% if enquiries %}
<section class="enquiries-section">
    <h2>Enquiries made</h2>

    {% for enquiry in enquiries %}
    <div class="enquiry-card">
        <div class="card-header">
            <h3>Quote {{ loop.index }}</h3>
            <span>${{ enquiry.quote_information.total_price }}</span>
        </div>

        <div class="enquiry-grid">
            <div>
                <h4>Sender</h4>
                <p><strong>Name:</strong> {{ enquiry.sender.name }}</p>
                <p><strong>Email:</strong> {{ enquiry.sender.email }}</p>
            </div>

            <div>
                <h4>Receiver</h4>
                <p><strong>Name:</strong> {{ enquiry.receiver.name }}</p>
                <p><strong>Email:</strong> {{ enquiry.receiver.email }}</p>
            </div>

            <div>
                <h4>Parcel</h4>
                <p><strong>Weight:</strong> {{ enquiry.quote_information.weight }} kg</p>
                <p><strong>Insurance:</strong> ${{ enquiry.quote_information.insurance_price }}</p>
            </div>
    
            <div>
                <h4>Status of your quote:</h4>
                <p class="status-badge {{ enquiry.status|lower }}">
                  {{ enquiry.status }}
                </p>
            </div>

        <form action="/update_status/{{ enquiry.id }}" method="POST" class = "status-form">
            <select name="status" class="status-select">
                <option value="New" {% if enquiry.status == "New" %}selected{% endif %}>New</option>
                <option value="Contacted" {% if enquiry.status == "Contacted" %}selected{% endif %}>Contacted</option>
                <option value="Booked" {% if enquiry.status == "Booked" %}selected{% endif %}>Booked</option>
            </select>
             <button type ="submit" class="submit-btn">Update</button>
        </form>    
    </div>
</div>
    {% endfor %}
</section>
{% endif %}


    <form class = "promo-box" method="POST" action="/update_promo" id="promorate">
     <label>Was there any promo offers you would like to consider for the estimated prices?</label>
       <input class="promo-rate" name="promo" id="promo-rate" type="text" value = "{{ promo_rate }}">
        <button type="submit">Update</button>
        <h5 class ="promo-header">Current Promo rate: {{ promo_rate}}% </h5>
           
    </form>
    <div class="error-promo" id= "error-promo"></div>


</body>

<footer class="footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/p/DY8IT-4Go0_/" target="_blank">
            <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram-link">
        </a>

        <a href="https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" target="_blank">
            <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook-link">
        </a>
    </div>

    <p>© 2026 SCB Pty Ltd.</p>
</footer>
</body>
</html>
