
<html lang = "en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packagin (SCB) </title>
</head>
<body>
  <header>
  
    <nav class="navbar">

    <h1 class="logo">PACK & SEND UNLEY</h1>

   <ul class="nav-links">
    <li><a href="{{ url_for('home') }}">Calculation</a></li>
    <li><a href="{{ url_for('about') }}">About Us</a></li>
    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    <li><a href="{{ url_for('enquiries') }}">Your Enquiries</a></li>
    <li><a href="{{ url_for('info') }}">Price info</a></li>
   </ul>

   </nav>
  </header>
    <main>
    <section class="content-header">
         <p>
            If you have any questions, concerns or enquiries,
            please feel free to contact us!
        </p>
    </section>

    <section class="contact-grid">

        <div class="contact-card">
            <h3>📧 Email</h3>
            <p>sales@scbeam.com.au</p>
        </div>

        <div class="contact-card">
            <h3>📞 Phone</h3>
            <p>0870924331</p>
        </div>

        <div class="contact-card">
            <h3>📍 Address</h3>
            <p>Kingswood, South Australia</p>
        </div>

        <div class="contact-card">
            <h3>⏰ Hours</h3>
            <p>Mon-Fri 9am-5pm<br>
            Saturday 9am-12pm</p>
        </div>
     
    </section>
    </main>
<footer class="footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/p/DY8IT-4Go0_/" target="_blank">
            <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram-link">
        </a>

        <a href="https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" target="_blank">
            <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook-link">
        </a>
    </div>

    <p>© 2026 SCB Pty Ltd.</p>
</footer>
</body>
</html>