
<html lang = "en">
<head>
    <link rel = "stylesheet" href = ../style.css>
    <script src = "../script.js" defer></script>
    <title> Freight and Packagin (SCB) </title>
</head>
<body>
  <header>
  
    <nav class="navbar">

    <h1 class="logo">PACK & SEND UNLEY</h1>

    <ul class="nav-links">
        <li><a href="index.html">Calculation</a></li>
        <li><a href="Aboutus.html">About Us</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="Saveddata.php">Your Enquiries</a></li>
    </ul>

   </nav>
  </header>
    <main>
    <section class="content-header">
         <p>
            If you have any questions, concerns or enquiries,
            please feel free to contact us!
        </p>
    </section>

    <section class="contact-grid">

        <div class="contact-card">
            <h3>📧 Email</h3>
            <p>sales@scbeam.com.au</p>
        </div>

        <div class="contact-card">
            <h3>📞 Phone</h3>
            <p>0870924331</p>
        </div>

        <div class="contact-card">
            <h3>📍 Address</h3>
            <p>Kingswood, South Australia</p>
        </div>

        <div class="contact-card">
            <h3>⏰ Hours</h3>
            <p>Mon-Fri 9am-5pm<br>
            Saturday 9am-12pm</p>
        </div>
     
    </section>
    </main>
<footer class = "footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/p/DY8lT-4GoO_/">
            <img src="../resources/instagram.png"alt="instagram-link">
        </a>
        <a href = "https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" >
            <img src="../resources/facebook.png"alt="facebook-link">
        </a>
    </div>
    <p>© 2026 SCB Pty Ltd.</p>
</footer>
</body>
</html>