<html lang = "en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packaging (SCB) </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

 {% with messages = get_flashed_messages() %}
       {% if messages %}
         <div class = "noenquiry-message">
           {{ messages [0] }}
           <button type="button" class="flash-close" onclick="this.parentElement.style.display='none'">
            ×
           </button>
         </div>
       {% endif %}
  {% endwith %}
  <header>
  
    <nav class="navbar">

    <h1 class="logo">Freight and packaging</h1>

    <ul class="nav-links">
       <li><a href="{{ url_for('home') }}">Calculation</a></li>
       <li><a href="{{ url_for('about') }}">About Us</a></li>
       <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
       <li><a href="{{ url_for('enquiries') }}">Your Enquiries</a></li>
       <li><a href="{{ url_for('info') }}">Price info</a></li>
       <a href="{{ url_for('enquiries_logout') }}">Exit enquiries</a>
   </ul>

   </nav>
</header>



{% if enquiries %}
<section class="enquiries-section">
    <h2>Your Previous Enquiries</h2>

    {% for enquiry in enquiries %}
    <div class="enquiry-card">
        <div class="card-header">
            <h3>Quote {{ loop.revindex }}</h3>
            <span>${{ enquiry.total_price }}</span>
        </div>

        <div class="enquiry-grid">
            <div>
                <h4>Sender</h4>
                <p><strong>Name:</strong> {{ enquiry.sender_name }}</p>
                <p><strong>Email:</strong> {{ enquiry.sender_email }}</p>
            </div>

            <div>
                <h4>Receiver</h4>
                <p><strong>Name:</strong> {{ enquiry.receiver_name }}</p>
                <p><strong>Email:</strong> {{ enquiry.receiver_email }}</p>
            </div>

            <div>
                <h4>Parcel</h4>
                <p><strong>Weight:</strong> {{ enquiry.weight }} kg</p>
                <p><strong>Insurance and duties:</strong> ${{ enquiry.insurance_price }}</p>
                <p><strong>Number of Medications:</strong> {{ enquiry.medications }}</p>
                <p><strong>Number of Makeups:</strong> {{ enquiry.makeups }}</p>
                <p><strong>Number of electronics:</strong> {{ enquiry.electronics }}</p>
            </div>
            <div>
                <h4>Status of your quote:</h4>
                <p class="status-badge {{ enquiry.status|lower }}">
                  {{ enquiry.status }}
                </p>
            </div>
          <form action="/delete_enquiry/{{ enquiry.id }}" method="POST">
                <input type="hidden" name="redirect_to" value="enquiries">
                <button type="submit" class="delete-btn">Delete</button>
          </form>
        
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}

</body>

<footer class="footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/freightpackaging/" target="_blank">
            <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram-link">
        </a>

        <a href="https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" target="_blank">
            <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook-link">
        </a>
    </div>

    <p>© 2026 SCB Pty Ltd.</p>
</footer>
</body>
</html>
