
<html lang = "en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packaging (SCB) </title>
</head>
<body>
{% with messages = get_flashed_messages() %}
       {% if messages %}
         <div class = "popup-message">
           {{ messages [0] }}
           <button type="button" class="flash-close" onclick="this.parentElement.style.display='none'">
            ×
           </button>
         </div>
        {% endif %}
{% endwith %}

  <header>
  
    <nav class="navbar">

    <h1 class="logo">Freight and packaging</h1>

    <ul class="nav-links">
       <li><a href="{{ url_for('home') }}">Calculation</a></li>
       <li><a href="{{ url_for('about') }}">About Us</a></li>
       <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
       <li><a href="{{ url_for('enquiries') }}">Your Enquiries</a></li>
       <li><a href="{{ url_for('info') }}">Price info</a></li>
    </ul>

   </nav>
  </header>
    
    <div class="enquiryprogress" >
    <form method="POST" id="quote-info" >
        <fieldset>
            
            <legend> Information on your parcel </legend>
              <p> order to get an idea of the pricing please visit our price information page </p>
            <label>Weight (KG)</label>
            <input type = "number" name="weight" id="weight" min = "0" step = "any" value="{{ form_data.get('weight', '') }}">
            <label> Total value of the parcels (AUD)</label>
            <input type = "number" name="value" id="value"  min = "0" step = "any" value="{{ form_data.get('value', '') }}">
            <label> Number of medications:</label>
            <input type = "number" name="medications" id= "medications" value="{{ form_data.get('medications', '') }}">
            <label> Number of makeup products:</label>
            <input type = "number" name="makeups" id = "makeups" value="{{ form_data.get('makeups', '') }}">
            <label>number of Laptops or cellular devices:</label>
            <input type = "number" name="electronics" id="electronics" value="{{ form_data.get('electronics', '') }}">
            <button type = "reset" class="reset-btn"> Reset</button>
        </fieldset>
        <fieldset>
            <button type="button" onclick="openSenderPopup()" >Add your details</button>
            <button type="button" onclick="openReceiverPopup()">Add receiver details (optionl)</button>
         <div id="senderPopup">
            <button type="button" class="close-btn" onclick="closeSenderPopup()">x</button>
            <label>First and Last name:</label>
            <input name="sender_name" id="sendername"placeholder="Sender name" 
             value="{{ form_data.get('sender_name', '') }}">
            <label>Your phone number:</label>
            <input name="sender_phone" id="senderphone" placeholder="Sender phone"  
             value="{{ form_data.get('sender_phone', '') }}">
            <label>Your Email</label>
            <input name="sender_email" id = "senderemail" placeholder="Sender email"   
             value="{{ form_data.get('sender_email', '') }}">
            <button type="button" class = "ok-btn" onclick ="closeSenderPopup()">Submit</button>
          </div>
          <div id="receiverPopup">
            <button type="button" class= "close-btn" onclick="closeReceiverPopup()">x</button>
            <Label>Enter the receiver's first and last name</Label>
            <input name="receiver_name" id= "receivername" placeholder="Receiver name" 
             value="{{ form_data.get('receiver_name', '') }}"> 
            <Label>Enter the receiver's phone number</Label>
            <input name="receiver_phone" id= "receiverphone" placeholder="Receiver phone" 
             value="{{ form_data.get('receiver_phone', '') }}">
            <Label> Enter the receiver's email address</Label>
            <input name ="receiver_email" id = "receiveremail" placeholder = "Receiver email"  
             value="{{ form_data.get('receiver_email', '') }}"> 
            <Label>Receivers City of residency</Label>
            <input name="receiver_address" id = "receiveraddress" placeholder="Receiver address"  
             value="{{ form_data.get('receiver_address', '') }}"> 
            <button type="button" class = "ok-btn" onclick ="closeReceiverPopup()">Submit</button>
          </div>
            

            <button type="submit" class="calculate-btn" name = "action" value="calculate">calculate estimate price</button>
            
            <button type="submit" class="submit-btn" name = "action" value="submit">Submit enquiry</button>
            
            <div class="error-messages" id= "error-messages"></div>

            {% if result is not none %}
              <div class="quote-result">
                   Estimated price: ${{ result }}
              </div>
            {% endif %}
           
        </fieldset>
</form>

<footer class="footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/freightpackaging/" target="_blank">
            <img src="{{ url_for('static', filename='instagram.png') }}" alt="instagram-link">
        </a>

        <a href="https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" target="_blank">
            <img src="{{ url_for('static', filename='facebook.png') }}" alt="facebook-link">
        </a>
    </div>

    <p>© 2026 SCB Pty Ltd.</p>
</footer>

</body>
</html>
