
<html lang = "en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title> Freight and Packaging (SCB) </title>
</head>
<body>
  <header>
  
    <nav class="navbar">

    <h1 class="logo">PACK & SEND UNLEY</h1>

    <ul class="nav-links">
        <li><a href="index.html">Calculation</a></li>
        <li><a href="Aboutus.html">About Us</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
        <li><a href="Saveddata.php">Your Enquiries</a></li>
    </ul>

   </nav>
  </header>
    <div class="enquiryprogress" >
    <form method="POST" id="quote-info" >
        <fieldset>
            <legend> Information on your parcel </legend>
            <label>Weight:</label>
            <input type = "number" name="weight" id="weight" required>
            <label> Total value of the parcels:</label>
            <input type = "number" name="value" id="value" required>
            <label> Number of medications:</label>
            <input type = "number" name="medications" id= "medications" required>
            <label> Number of makeup products:</lable>
            <input type = "number" name="makeups" id = "makeups" required>
            <label>number of Laptops or cellular devices:</label>
            <input type = "text" name="electronics" id="electronics" required>
            <button type = "reset" class="reset-btn"> Reset</button>
        </fieldset>
        <fieldset>
            <button type="button" onclick="openSenderPopup()" >Add your details</button>
            <button type="button" onclick="openReceiverPopup()">Add receiver details</button>
            <div id="senderPopup">
            <button type="button" class="close-btn" onclick="closeSenderPopup()">x</button>
            <input name="sender_name" id="sendername"placeholder="Sender name">
            <input name="sender_phone" id="senderphone" placeholder="Sender phone">
            <input name="sender_email" id = "senderemail" placeholder="Sender email">
          </div>
          <div id="receiverPopup">
            <button type="button" class= "close-btn" onclick="closeReceiverPopup()">x</button>
            <input name="receiver_name" id= "receivername" placeholder="Receiver name">
            <input name="receiver_phone" id= "receiverphone" placeholder="Receiver phone">
            <input name ="receiver_email" id = "receiveremail" placeholder = "Receiver email">
            <input name="receiver_address" id = "receiveraddress" placeholder="Receiver address">
            </div>
            <button type="submit" class="submit-btn">Submit enquiry:</button>

            {% if result %}
              <div class="quote-result">
                   Estimated price: ${{ result }}
              </div>
            {% endif %}
            <div class="error-messages" id= "error-messages"></div>
        </fieldset>
</form>

<footer class = "footer-content">
    <div class="social-links">
        <a href="https://www.instagram.com/p/DY8lT-4GoO_/">
            <img src="../resources/instagram.png"alt="instagram-link">
        </a>
        <a href = "https://www.facebook.com/p/Southern-Cross-Beam-Pty-Ltd-61577005209085/" >
            <img src="../resources/facebook.png"alt="facebook-link">
        </a>
    </div>
    <p>© 2026 SCB Pty Ltd.</p>
</footer>

</body>
</html>
